body{
    height: 250vh;
    width: 100vw;
    margin:0%;
    padding: 0%;
}

/* ids */
#header{
    background-color: #FFE3E1;
    color: #FF9494;
}

#about{
    background-color: white;
    /* color: #FF9494; */
}

#exp{
    background-color: #FFE3E1;
    color: #FF9494;
}

#contact{
    background-color: white;
    color: #FF9494;
}

/* classes */
.content{
    margin-left: 10vw; 
}

.about-content{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.profile-img{
    margin:  0 25px 0 20px;
}

.profile-words{
    text-align: justify;
}

.test{
    padding-top:15%;
}

.exp-content{
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    height: 50%;
    display: block;
}

.exp-content > h1{
    margin: auto;
    padding: 25px;
    text-align: center;
}

.projects-container{
    margin: 5vh 15vw
}

.card{
    max-width: 325px;
    max-height: 300;
    border-radius: 20px;
}

.card:hover{
    transform: translateY(-10px);
}

.card:active{
    transform: translateY(8px);
}

.card > img{
    margin: auto;
    margin-top: 20px;
}

button{
    width: 100px;
    height: 50px;
    border: none;
    padding: 10px;
    background-color: #FF9494;
    border-radius: 10px;
    color: #FFE3E1;
    transition: 0.3s;
    outline: none;
}

button:hover{
    border-color: #FF9494;
    border-style: solid;
    background-color: #FFE3E1;
    color: #FF9494;
}

button,
button:active,
button:focus {
  outline: none;
}

img{
    border-radius: 20px;
}

